<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <iframe src="//sharecad.org/cadframe/load?url=http://localhost:5000/basicDrawing/dwg/67d9234c5ba8ed46ae56b13e"
        scrolling="no"> </iframe>
</body>

</html>